<!DOCTYPE html>
<html>
<head>
  <title>daynaclowe.com</title>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="stylesheets.css.scss" type="text/css" charset="utf-8" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container-fluid">
  <div class="row">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img class="brand" alt="Brand" src="...">
        </a>
        <button class="navbar-toggle" data-toggle="collapse" data-target= ".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-page"><%= link_to "About Me", root_path %></li>
            <li class="nav-page"><%= link_to "Portfolio", portfolio_path %></li>
            <li class="nav-page"><%= link_to "Blog", posts_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  <body>
    <%= yield %>
  </body>
<div class="container-fluid">
    <footer>
      <ul>
        <li class="social">
          <% if !user_signed_in? %>
          <%= link_to "Admin Login", new_user_session_path %>
          <% end %>
          <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% end %>
        </li>
      </ul>
      <ul class="social">
        <li class="social">
          Find Me Here!
        </li>
        <li class="social"><a href="https://twitter.com/idratherexplode"><img src="assets/twitter-128.png" alt="twitter" class="social"/></a></li>
        <li class="social"><a href="https://www.behance.net/daynaclowe"><img src="assets/behance-128.png" alt="behance" class="social"/></a></li>
        <li class="social"><a href="https://github.com/daynaclowe"><img src="assets/github-128.png" alt="github" class="social"/></a></li>
        <li class="social"><a href="https://flickr.com/robotttology"><img src="assets/flickr-128.png" alt="flickr" class="social"/></a></li>
        <li class="social"><a href=""><img src="assets/instagram-128.png" alt="instagram" class="social"/></a></li>
      </ul>
    </footer>
</div>
</html>
