<!DOCTYPE html>
<html>
<head>
  <title>daynaclowe.com</title>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  <div class="row">
    <div class="col-lg-4">
      <h1>Dayna Lowe</h1>
      <h3>Web Developer and Designer</h3>
    </div>
    <div class="col-lg-8">
        <ul class="nav navbar-nav">
          <li class="category"><%= link_to "About Me", root_path %></li>
          <li class="category"><%= link_to "Portfolio", portfolio_path %></li>
          <li class="category"><%= link_to "Blog", posts_path %></li>
          <li class="category"><%= link_to "Contact", contact_path %></li>
        </ul>
    </div>
  </div>

<!-- <div id="main_content">
  <div id="header">
    <% if current_page?(root_path) %>
      <p>About</p>
    <% elsif current_page?(posts_path) %>
      <p>All Posts</p>
    <% else %>
      <p><%= link_to "Back to All Posts", posts_path %></p>
    <% end  %>
</div> -->

<%= yield %>

<footer>
  <ul>
    <li class="social"><a href="https://twitter.com/idratherexplode">Twitter</a></li>
    <li class="social"><a href="">Instagram</a></li>
    <li class="social"><a href="">Github</a></li>
    <li class="social"><a href="">Behance</a></li>
    <li class="sign_in">Admin Login</li>
  </ul>
</footer>
</body>
</html>
